<footer class="bg-dark" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <a href="/index.html">
                        <img src="/assets/images/logo_white.png" alt="Logo" width="150px">
                    </a>
                    <div class="my-3 text-white">
                        <ul>
                            <li><i class="ri-map-pin-2-fill footer-icon"></i> TESSON ENERGY Pvt Ltd, 68/1B,</li>
                            <li>MM Kovilur Rd, Kappilia Patti,</li>
                            <li class="mb-2">Dindigul, TN - 624 306</li>
                            <li class="mb-2"><i class="ri-mail-fill footer-icon"></i> contact@tessonenergy.com</li>
                            <li><i class="ri-phone-fill footer-icon"></i> +91 73058 34969</li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <a href="#">
                            <i class="ri-linkedin-line"></i>
                        </a>
                        <a href="#">
                            <i class="ri-youtube-line"></i>
                        </a>
                        <a href="#">
                            <i class="ri-facebook-line"></i>
                        </a>
                        <a href="#">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="#">
                            <i class="ri-twitter-line"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-white">Products</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="e-mobility.html">E-Mobility</a></li>
                        <li><a href="ess.html">Energy Storage System(ESS)</a></li>
                        <li><a href="agriculture.html">Agriculture & Field applications batteries</a></li>
                        <li><a href="chargers.html">Chargers</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-white">Quick Links</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blogs.html">Blogs</a></li>
                        <li><a href="enquiry.html">Enquiry</a></li>
                        <li><a href="/assets/pdf/policies/warranty-policy.pdf" target="_blank">Warrenty policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-white">Get in Touch</h5>
                    <div class="line"></div>
                    <form id="contactForm">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <input type="text" class="form-control border-light" placeholder="Name" name="name"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <input type="tel" class="form-control border-light" placeholder="Mobile" name="mobile"
                                    required>
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control border-light" placeholder="Email" name="email"
                                    required>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-light" rows="3" placeholder="Message"
                                    name="message" required></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-brand w-100">Submit</button>
                            </div>
                            <div id="formStatus" class="small mt-2"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4 justify-content-center">
                <div class="col-auto">
                    <p class="mb-0">
                        2025 © Tesson Energy All Rights Reserved ·
                        <a href="/assets/pdf/policies/privacy-policy.pdf" target="_blank">Privacy policy</a> ·
                        <a href="">Terms of service</a>

                    </p>
                </div>
                <!-- <div class="col-auto">
                    <p class="mb-0">
                        Designed by
                        <a href="https://www.linkedin.com/in/saravanan-ravi-4aa286167/" target="_blank">
                            Saravanan Ravi
                        </a>
                        <a class="ms-1" href="https://github.com/saravananravi333" target="_blank"><i
                                class="ri-github-line"></i></a>
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</footer>